.new-post{
	padding: 16px 0;
	/*border-bottom: 1px solid #ccc;*/
}

.posts .post{
	padding-left: 10px;
	/*border-left: 3px solid*/
	margin-bottom: 30px;
	margin-bottom: 30px;
}

.posts .post .info{
	
}

